.nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(90, 31, 191);
    color: white;
    padding: 15px;
    font-size: 1em;
    a {
      color: white;
      text-decoration: none;
    }
  }